# Environment Toggle 
#NODE_ENV=test
PORT=3000
# get your URI from MongoDB Atlas
DB= ' '
# generate a random 64-character hex string for IP anonymization
IP_SALT= ' '
# CORS whitelist (e.g. https://www.samplesite.com, etc.)
ALLOWED_ORIGINS= ' '  